.div {
  margin: 5px;
}
.userIcon {
  font-size: 25px;
}
.LinkedinOutlined {
  font-size: 25px;
  color: #001d66;
}
.InstagramOutlined {
  font-size: 25px;
  color: #092b00;
}
.FacebookOutlined {
  font-size: 25px;
  color: #002329;
}
.TwitterOutlined {
  font-size: 25px;
  color: #120338;
}
.DribbbleOutlined {
  font-size: 25px;
  color: #520339;
}
.bt {
  float: right;
}
.avtar {
  background-color: #f56a00;
}
.avtar1 {
  background-color: #87d068;
}
.avtar2two {
  background-color: #1890ff;
}
.card {
  margin: 10px;
}
