.calendarIcone {
  margin-top: 13px;
}
.iconeImg {
  height: 21px;
}
.imgColStyle {
  margin-top: 25px;
}
.linkStyle {
  margin-top: 6px;
  font-size: 13px;
}
.guestStyle {
  margin-top: -9px;
}
.guestsEmailStyle {
  margin-top: -18px;
}
.linkStyleBtn {
  border: "1px solid #3b73ed";
  border-radius: 5px;
  padding: 5px;
  background-color: #3b73ed;
  color: #ffff;
}
.innerEmailStyle {
  margin-left: -27px;
  margin-block: 2px;
}
.organizerStyle {
  color: #5f6368;
  font-size: 10px;
}
.organizerImg {
  margin-top: 17px;
}
.userIconeStyle {
  margin-top: 9px;
}
.summaryStyle {
  height: 20px;
  padding: 0px 2px;
  border: none;
}
.createEventBtn {
  width: 100%;
}
.calendarStyle {
  border-left: 1px solid #e0e0e5;
  padding: 7px;
}
.cardStyle {
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
}
.innerAvatarStyle {
  background-color: #5f6bef;
}
.typographyStyle {
  padding-left: 7px;
}
.summaryTypographyStyle {
  font-weight: 600px;
  font-size: 12px;
  color: #41435b;
}
.statusTypographyStyle {
  font-size: 11px;
  color: #888993;
}
.dateTimeTypographyStyle {
  font-size: 11px;
  color: #888993;
}
.upCommingMainDiv {
  max-height: 670px;
  overflow: auto;
}
.eventTitle {
  font-weight: 600;
  font-size: 15px;
  margin-top: 8px;
}
.eventTitleStyle {
  font-size: 13px;
  color: #888993;
  margin-bottom: 8px;
}
.formStyle {
  padding: 5px 5px;
}
.width100 {
  width: 100%;
}
